{
  "plugins": [
    "jasmine"
  ],
  "extends": [
    "airbnb-base",
    "plugin:jasmine/recommended"
  ],
  "env": {
    "jasmine": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "objects": "always-multiline",
        "functions": "never"
      }
    ]
  }
}